*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 15px;
}

nav{
    display: flex;
    height: 70px;
    align-items: flex-end;
    background-color: black;
    padding-bottom: 20px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.801);
}

.logo{
    height: 50px;
    top: 10px;
    right: 20px;
    position: absolute;
    transition: transform 0.5s; 
}
.logo:hover{
    transform: scale(1.2);
}

.links{
    font-size: 25px;
    text-decoration: none;
    margin-left: 20px;
    color: goldenrod;
    transition: transform 4.5s; 
}
.links:hover{
    color: white;
}

header{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 2vw;
    padding-bottom: 3vw;
}

.titles a{
    display: none;
}

h1{
    font-size: 45px;
}

.box-img-index{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.img-index{
    width: 93vw;
    height: 30vw;
    background-image: url("../images/together-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.801);
}

.info-home{
    display: flex;
    width: 93vw;
    height: 30vw;
    margin: 3vw;
    margin-top: 5vw;
}

.text-dumbbells{
    width: 50%;
    padding: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.container-img-dumbbells{
    display: flex;
    justify-content: center;
    width: 50%;
    overflow: hidden;
}

.img-dumbbells{
    width: 80%;
    background-image: url("../images/boy.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.801);
}

body{
    background-color: blanchedalmond;
}

.figures-about{
    height: 25vw;
    display: flex;
    align-items: center;
    margin: 0vw 5vw 2vw 5vw ;
    border-radius: 10px;
    transition: transform 0.5s;
}
.figures-about:hover{
    transform: scale(1.1);
    border:1px solid goldenrod;
    color: goldenrod;
    background-color: #000000;
}

.figures-about img{
    height: 25vw;
    margin-right: 5vw;
    border-radius: 10px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.801);
}

.figures-about div{
    width: 40vw;
    font-size: 25px;
    margin-bottom: 1vw;
}

.img-contact{
    border-radius: 10px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.801);
}

.info-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-img-contact{
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-contact{
    width: 60vw;
    height: 35vw;
    background-image: url("../images/image-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.801);
}

.text-info-contact{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vw 0 2vw 0;
    font-size: 25px;
}

.contact{
    width: 60vw;
    margin-top: 2vw;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}