*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 15px;
}

body{
    background-color: blanchedalmond;
}

img{
    border-radius: 10px;
}

nav{
    display: flex;
    height: 70px;
    align-items: flex-end;
    background-color: black;
    padding-bottom: 20px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.801);
}

.nav{
    display: none;
}

.logo{
    height: 50px;
    top: 10px;
    right: 20px;
    position: absolute;
    transition: transform 0.5s; 
}
.logo:hover{
    transform: scale(1.2);
}

.links{
    font-size: 1.7rem;
    text-decoration: none;
    margin-left: 20px;
    color: goldenrod;
    transition: transform 4.5s; 
}
.links:hover{
    color: white;
}

.button-about{
    width: 15vw;
    font-size: 2vw;
    padding: 2px 0px 5px 0px;
    margin-top: 1vw;
    text-decoration: none;
    border-radius: 5px;
    color: goldenrod;
    background-color: black;
    border: 1px solid goldenrod;
    font-weight: bold;
    transition: transform 0.5s;
}

.titles-home{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-about:hover{
    color: white;
    border: 1px solid white;
}

.box-img-index{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.header-index{
    padding-bottom: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    text-align: center;
    width: 93vw;
    height: 30vw;
    margin-left: 3vw;
    margin-top: 3rem;
    background-image: url("../images/together-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.801);
    color: goldenrod;
    text-shadow: 1px 1px 10px black;
}

.header-index h1,
.header-index h2{
    width: 32vw;
    font-size: 3vw;
}

.header-contact h1,
.header-contact h2{
    width: 40vw;
}

.header h2{
    padding-bottom: 2vw;
}

.header-schelude,
.header-tips,
.header-raffle{
    color: black;
    font-size: 1.4vw;
    width: 100vw;
    margin-top: 3vw;
    text-align: center;
}

.info-home{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
}

.text-dumbbells{
    width: 60vw;
    height: 40vw;
    background-image: url("../images/boy.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.801);
    display: flex;
    align-items: end;
    font-size: 1.7rem;
}

.text-dumbbells h4{
    padding: 1rem 2rem 2rem 2rem;
    background-color: rgba(250, 235, 215, 0.664);
}

/*--------------------about Up-----------------------*/

.titles-about{
    text-align: center;
    margin: 2rem 0 1rem 0;
    font-size: 1.5rem;
    color: black;
}

.info-about{
    display: flex;
    justify-content: space-evenly;
}

.figures-about img{
    width: 25vw;
}

.figures-about h4{
    margin-top: 2vw;
    width: 25vw;
    font-size: 1.7rem;
    padding: 1rem;
}

.figures-about{
    transition: transform 0.5s;
    margin-top: 2rem;
}

.figures-about:hover{
    transform: scale(1.1);
    border:1px solid goldenrod;
    color: goldenrod;
    background-color: #000000;
    border-radius: 10px;
}

/*--------------------contact-----------------------*/

.header-contact{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    text-align: center;
    padding-bottom: 0;
    padding-right: 1.5rem;
    padding-right: 3rem;
    width: 93vw;
    height: 30vw;
    margin-left: 3vw;
    margin-top: 3rem;
    background-image: url("../images/image-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.801);
    font-size: 2.2vw;
    color: goldenrod;
    text-shadow: 1px 1px 10px black;
}

.text-info-contact{
    display: flex;
    justify-content: space-evenly;
}

.div-info-contact,
.contact{
    width: 30vw;
    height: 20rem;
    margin-top: 0vw;
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact a{
    margin-top: 2vw;
}

.main-table{
    display: flex;
    justify-content: center
}

.table-schedule{
    width: 70vw;
    text-align: left;
    border: 2px solid black;
    border-collapse: collapse;
    font-weight: bold;
    font-size: 1.2rem;
}

.table-schedule td,
.table-schedule th{
    border: 1px solid black;
    width: 10vw;
    height: 5vw;
    padding: 1vw;
}

.table-schedule thead{
    border-bottom: 4px solid rgb(109, 83, 16);
    background-color: rgb(177, 134, 26);
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.table-schedule tbody tr{
    background-color: rgb(216, 216, 216);
}

.table-schedule tr:nth-child(even){
    background-color: #a3a3a3b0;
}

.table-schedule tr:hover{
    background-color: rgba(207, 157, 32, 0.548);
}

/*---------------------------benefits and tips-----------------------------*/

.main-tips{
    display: flex;
}

.figure-tips{
    width: 60vw;
}

ul {
    list-style-type: disc;
}

.style-circle,
.style-latin{
    margin-left: 15px;
}

.main-tips img{
    width: 40vw;
    margin: 2vw 0vw 2vw 5vw;
    border-radius: 10px;
    transition: transform 0.5s;
}
.main-tips img:hover{
    transform: scale(1.1);
}

.ol-tips{
    margin: 2vw 5vw 2vw 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5vw 0vw;
    font-size: 2vw;
    font-weight: bold;
}

.tel-contact{
    margin-top: 3vw;
}

/*---------------------------rafle-----------------------*/

.figure-raffle{
    width: 49vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3vw;
    justify-content: space-evenly;
}

.figure-raffle img{
    width: 40vw;
    margin-top: 3vw;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.801);
    transition: transform 0.5s;
}
.figure-raffle img:hover{
    transform: scale(1.1);
}

.main-raffle{
    display: flex;
}

.form-raffle{
    width: 49vw;
    margin-top: 3vw;
    padding: 0 8vw 0 8vw;
    display: flex;
    flex-direction: column;
    text-align: center;
}

fieldset{
    border: none;
    display: flex;
    flex-direction: column;
    text-align: left;
}


#services{
    height: 8vw;
}

#acepted{
    margin-right: 10px;
}

label,
fieldset h3{
    margin-top: 1vw;
    font-size: 20px;
    font-weight: bold;
}

fieldset>input,
select{
    height: 25px;
}

input[type=submit]{
    margin-top: 20px;
    width: 100px;
    height: 30px;
    border-radius: 3px;
    font-weight: bold;
    background-color: #0180FD;
    border: 2px solid black;
    color: white;
    transition: transform 0.5s; 
}
input[type=submit]:hover{
    transform: scale(1.2);
}

footer iframe{
    width: 300px;
    height: 200px;
    margin: 20px 0 40px 5vw;
    border-radius: 5px;
}

footer{
    border-top: 2px solid black;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.801);
    margin-top: 30px;
}

/*--------------------------------SHOW DATA-----------------*/

table{
    width: 60vw;
    margin-top: 2vw;
    font-size: 1.5rem;
    border: 2px solid black;
    border-collapse: collapse;
    background-color: rgb(197, 197, 197);
}

th{
    background-color: goldenrod;
}

td, tr{
    height: 4rem;
}

.main-show-data{
    display: flex;
    align-items: center;
    flex-direction: column;
}

table tr:nth-child(even){
    background-color: #a3a3a3b0;
}

table tr:hover{
    background-color: antiquewhite;
}


/* tablets*/
@media screen and (max-width: 1023px) {
    .links{
        font-size: 1.3rem;
    }
    .div-info-contact,
    .contact,
    .text-dumbbells,
    .figures-about h4,
    .ol-tips{
        font-size: 1.3rem;
    }
    .titles-about h1,
    .header-schelude h1,
    .header-tips h1{
        font-size: 3rem;
    }
    .titles-about h2,
    .header-schelude h2,
    .header-tips h2{
        font-size: 2rem;
    }
}

/* phone*/

@media screen and (max-width:768px) { 

    .links{
        display: none;
    }

    .logo{
        height: 30px;
    }

    nav{
        height: 50px;
    }

    .nav{
        display: block;
        position: absolute;
        top: 10px;
        left: 20px;
    }

    .menu-options{
        display: flex;
        flex-direction: column;
    }
    
    .nav>li{
        float: left;
    } 

    .nav li{
        list-style: none;
    }

    .nav a{
        display: block;
        background-color: white;
        padding: 5px;
        margin-right: 20px;
        margin-bottom: 1px;
        text-decoration: none;
        min-width: 27vw;
        max-width: 150px;
        font-size: 20px;
        color: black;
        font-weight: bold;
        border: 1px solid black;
        text-align: center;
        border-radius: 5px;
    }
    .nav li a:hover{
        background-color: rgb(112, 112, 112);
        color: #000000;
        text-shadow: none;
    }

    .nav li ul{
        display: none;
        position: absolute;
        min-width: 30vw;
    }

    .nav li:hover >ul{
        display: block;
    }

    .header-index,
    .header-contact{
        height: 40vw;
    }

    .text-dumbbells{
        width: 80vw;
        height: 60vw;
    }

    .header-index h1,
    .header-contact h1{
        font-size: 7vw;
        text-shadow: 0px 0px 2px black;
    }

    .header-index h2,
    .header-contact h2{
        font-size: 4vw;
    }

    .header-contact{
        margin-top: 7vw;
    }

    .titles-home{
        display: flex;
        justify-content: center;
    }

    .div-info-contact,
    .contact,
    .text-dumbbells,
    .figures-about h4{
        font-size: 4vw;
    }

    .ol-tips li{
        font-size: 4vw;
    }

    .titles-about h1,
    .header-schelude h1,
    .header-tips h1{
        font-size: 2.5rem;
    }
    
    .titles-about h2,
    .header-schelude h2,
    .header-tips h2{
        font-size: 1.5rem;
    }

    .button-about{
        font-size: 2vw;
    }

    .header-index{
        margin-top: 6vw;
    }

    .info-about{
        flex-direction: column;
        align-items: center;
    }

    .figures-about img,
    .figures-about h4{
        width: 80vw;
    }

    .figures-about{
        margin-top: 1vw;
        margin-bottom: 5vw;
    }

    .text-info-contact{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact img{
        width: 0.5vw;
    }

    .div-info-contact,
    .contact{
        width: 80vw;
        height: auto;
        padding-top: 5vw;
    }

    .main-tips,
    .main-raffle{
        flex-direction: column;
        padding: 0 4vw;
    }

    .figure-tips,
    .figure-raffle{
        display: flex;
        flex-direction: row;
        width: auto;
    }

    .ol-tips{
        font-size: 4vw;
    }

    option{
        font-size: 15px;
    }

    .form-raffle{
        width: auto;
    }

    footer{
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 1024px) {
.main-tips,
.main-raffle{
    margin: 0 8vw;
}
}
.prueba{
    height: 50px;
    width: 100vw;
}
.div1{
    display: inline-block;
    height: 50px;
    width: 90%;
    background-color: red;
}
.div2{
    display: inline-block;
    height: 50px;
    width: 9%;
    background-color: blue;
}