*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
:root{
    font-size: 15px;
}

nav{
    display: flex;
    height: 70px;
    align-items: flex-end;
    background-color: rgb(85, 218, 32);
    padding-bottom: 20px;
    box-shadow: 0 19px 38px rgb(85, 218, 32);
}

.logo{
    height: 70px;
    top: 0px;
    right: 0px;
    position: absolute;
    transition: transform 0.5s; 
    padding: 10px;
}
.logo:hover{
    transform: scale(1.2);
}

.links{
    font-size: 25px;
    text-decoration: none;
    margin-left: 20px;
    transition: transform 4.5s; 
    color: white;
    text-shadow: 1px 1px 8px black;
}
.links:hover{
    color: black;
}

header{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 2vw;
    padding-bottom: 3vw;
}

.titles a{
    display: none;
}

.titles h1,.titles h2{
    color: white;
    text-shadow: 1px 1px 8px rgb(85, 218, 32);
}

h1{
    font-size: 45px;
    margin-top: 1vw;
}

.box-img-index{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.img-index{
    width: 93vw;
    height: 30vw;
    background-image: url("../images/together-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 19px 38px rgb(85, 218, 32);
}

.info-home{
    display: flex;
    width: 93vw;
    height: 30vw;
    margin: 3vw;
    margin-top: 5vw;
}

.text-dumbbells{
    width: 50%;
    padding: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.container-img-dumbbells{
    display: flex;
    justify-content: center;
    width: 50%;
    overflow: hidden;
    padding-bottom: 5vw;
}

.img-dumbbells{
    width: 80%;
    background-image: url("../images/boy.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 19px 38px rgb(85, 218, 32);
}

body{
    background-color: black;
}

.titles-about{
    color: white;
    text-shadow: 1px 1px 8px rgb(85, 218, 32);
}

.figures-about{
    height: 25vw;
    display: flex;
    align-items: center;
    margin: 0vw 5vw 3vw 5vw ;
    border-radius: 10px;
    transition: transform 0.5s;
}
.figures-about:hover{
    transform: scale(1.1);
    border:1px solid rgb(85, 218, 32);
    color: rgb(122, 122, 122);
    box-shadow: 0 19px 38px rgb(85, 218, 32);
}

.figures-about img{
    height: 24.9vw;
    margin-right: 5vw;
    border-radius: 10px 0px 0px 10px;
    box-shadow: 0 19px 38px rgb(85, 218, 32);
}

.figures-about div{
    width: 40vw;
    font-size: 25px;
    margin-bottom: 1vw;
}

.img-contact{
    border-radius: 10px;
    box-shadow: 0 19px 38px rgb(85, 218, 32);
}

.info-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-img-contact{
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-contact{
    width: 60vw;
    height: 35vw;
    background-image: url("../images/image-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 19px 38px rgb(85, 218, 32);
}

.text-info-contact{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vw 0 2vw 0;
    font-size: 25px;
}

.contact{
    width: 60vw;
    margin-top: 2vw;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}

.main-table{
    display: flex;
    justify-content: center
}

table{
    width: 70vw;
    text-align: left;
    border: 2px solid white;
    border-collapse: collapse;
    font-weight: bold;
    font-size: 1.2rem;
}

td, th{
    border: 1px solid black;
    width: 10vw;
    height: 5vw;
    padding: 1vw;
    color: #000000;
}

thead{
    border-bottom: 4px solid rgb(56, 143, 22);
    background-color: rgb(85, 218, 32);
    text-align: center;
}

tbody tr{
    background-color: rgb(216, 216, 216);
}

tr:nth-child(even){
    background-color: #a3a3a3b0;
}

tr:hover{
    background-color: rgb(85, 218, 32);
}

.main-tips{
    display: flex;
}

ul {
    list-style-type: circle;
}

.style-latin{
    list-style-type: lower-latin;
}

.style-circle,
.style-latin{
    margin-left: 15px;
}

.main-tips img{
    width: 40vw;
    margin: 2vw 5vw 2vw 5vw;
    border-radius: 10px;
    transition: transform 0.5s;
    box-shadow: 0 19px 38px rgb(85, 218, 32);
}
.main-tips img:hover{
    transform: scale(1.1);
}

.ol-tips{
    margin: 2vw 5vw 2vw 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 7vw 0vw;
    font-size: 25px;
}
