*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 15px;
}

nav{
    display: flex;
    height: 70px;
    align-items: flex-end;
    background-color: black;
    padding-bottom: 20px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.801);
}

.logo{
    height: 50px;
    top: 10px;
    right: 20px;
    position: absolute;
    transition: transform 0.5s; 
}
.logo:hover{
    transform: scale(1.2);
}

.links{
    font-size: 25px;
    text-decoration: none;
    margin-left: 20px;
    color: goldenrod;
    transition: transform 4.5s; 
}
.links:hover{
    color: white;
}

header{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 2vw;
    padding-bottom: 3vw;
}

.button-about{
    font-size: 20px;
    padding: 2px 20px 5px 20px;
    text-decoration: none;
    border-radius: 5px;
    color: goldenrod;
    background-color: black;
    border: 1px solid goldenrod;
    font-weight: bold;
    transition: transform 0.5s; ;
}

.button-about:hover{
    color: white;
    border: 1px solid white;
}

.box-img-index{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.header-index{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    padding-right: 3rem;
    width: 93vw;
    height: 30vw;
    margin-left: 3vw;
    margin-top: 3rem;
    background-image: url("../images/together-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.801);
}

.titles{
    color: goldenrod;
    text-shadow: 0px 0px 10px #000000;
}